.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.miama {
  font-family: "Miama", sans-serif;
  font-size: 9rem;
  font-weight: 100;
}
.black {
  background-color: black;
}

.bg-dark {
  background: rgba(34, 34, 34, 1);
}
.linerBlack {
  background-image: linear-gradient(
    to right,
    rgba(17, 17, 17, 1),
    rgba(119, 119, 119, 0)
  );
}
body {
  background-color: #111111;
  color: white;
  margin: 0;
}

/* shared styles */
.display-flex {
  display: flex;
}
.max-width {
  max-width: 1400px;
  margin: auto;
}
h1 {
  font-size: 6rem;
  font-weight: 900;
  line-height: 6rem;
}

.title {
  color: white;
  font-weight: 800;
  font-size: 3.5rem;
  margin: 10px 0;
}

.dark {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 1rem;
  line-height: 25px;
}
.btn {
  background-color: rgba(230, 83, 60, 1);
  padding: 16px 50px;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 10px;
}
.btn-white {
  background-color: transparent;
  padding: 16px 40px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
}
.red {
  border: 1px solid red;
}
/* header styles */

.header {
  margin: 50px auto;
}
.brand {
  color: rgba(230, 83, 60, 1);
  font-weight: 800;
  font-size: 3rem;
  margin: 10px 0;
  font-style: italic;
}
/* navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style: none;
  /* margin-right: 20px; */
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
}

.nav-item:hover {
  background-color: rgba(230, 83, 60, 1);
  padding: 10px 25px;
  border-radius: 25px;
  /* transition: 1s;  */
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}
.menu {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.menu-icon {
  display: none;
}

/* banner section---- */

.banner {
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  display: flex;
}

.banner-img {
  position: relative;
}
.tip1 {
  position: absolute;
  top: 120px;
  right: -60px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
.tip2 {
  position: absolute;
  bottom: 80px;
  left: -120px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

/* <!-- ----habits section------ --> */
.habits {
  text-align: center;
  margin: 100px auto;
}

.habit-items {
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.habit-items img {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 250px;
}

/* <!-- newsletter section-------- --> */
.newsletter {
  background-color: rgba(34, 34, 34, 1);
  margin: 100px auto;
  border-radius: 20px;
  display: flex;
  padding: 3rem;
  justify-content: space-around;
  align-items: center;
}

.newsletter img {
  width: 30rem;
  border-radius: 20px;
}

/* <!-- team section--------------- --> */

.team {
  text-align: center;
  margin: 100px auto;
}

.team-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-color: rgba(34, 34, 34, 1);
  padding: 30px;
  justify-content: center;
  border-radius: 20px;
  margin: 40px auto;
}

.team-img {
  position: relative;
  width: 400px;
  height: 350px;
  object-fit: cover;
}
.team-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
}

.team img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* BMI Section -------------- */
.bmi {
  text-align: center;
  margin: 100px auto;
}
.bmi table th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 30px;
  text-align: left;
}
.bmi td {
  color: rgba(255, 255, 255, 0.5);
}
.chart-container {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
  margin: 40px auto;
}
.tableChart {
  border-collapse: collapse;
  margin: 50px auto;
}
.chart-calc {
  text-align: left;
}
.chart-calc input,
select {
  /* border: 1px solid red; */
  padding: 15px 55px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  margin: 5px;
  border: 0;
  color: rgba(255, 255, 255, 0.5);
}
/* location------------------ */
.location {
  text-align: center;
  margin-bottom: 100px;
  padding: 0 30px;
}

/* Footer Section------------ */
footer {
  margin: 0;
  background: rgba(34, 34, 34, 1);
  padding: 1px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}
.footer ul {
  margin: 0;
  text-align: left;
  padding: 0;
}
.footer li {
  list-style: none;
  font-size: 18px;
  line-height: 40px;
}

.copyright {
  text-align: center;
  margin: 40px 0;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 80%;
}
/* responsive------------ */
@media screen and (max-width: 576px) {
  .header {
    margin: 0;
  }
  .navbar {
    padding: 10px 30px;
  }
  .nav-link {
    display: none;
  }
  .menu {
    border: none;
  }
  .menu-icon {
    display: block;
  }
  .banner {
    flex-direction: column;
    margin: 0;
    padding: 0 30px;
  }

  .banner-btn {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .btn {
    padding: 15px 30px;
    font-weight: 100;
  }
  .btn-white {
    padding: 15px 30px;
    font-weight: 100;
  }
  .banner-img {
    width: 50vw;
  }
  .habits {
    padding: 30px;
    margin: 0;
  }
  .habit-items {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .habit-items img {
    width: 200px;
  }
  .newsletter {
    flex-direction: column;
    padding: 30px;
    margin: 20px;
  }
  .newsletter img {
    width: 80vw;
  }
  .team {
    padding: 030px;
    text-align: left;
    margin: 0 auto;
  }
  .team-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-img {
    width: 320px;
    height: 300px;
  }
  .bmi-content {
    text-align: left;
    padding: 0 30px;
  }
  .chart-container {
    flex-direction: column;
  }
  .bmi input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    flex-direction: column;
  }
  .title {
    font-size: 32px;
    font-weight: 900;
  }
  h1 {
    font-size: 60px;
    line-height: 4rem;
  }
  .miama {
    font-size: 90px;
  }
}
